[submodule "docs"]
	path = docs
	url = git@github.com:SuperNerdBros/dodo-air.wiki.git
[submodule "api"]
	path = api
	url = git@github.com:SuperNerdBros/nookipedia-api.git
[submodule "directory/ac-miles"]
	path = directory/ac-miles
	url = git@github.com:xopherdeep/ac-miles.git
[submodule "directory/acnh.directory"]
	path = directory/acnh.directory
	url = git@github.com:xopherdeep/acnh.directory.git
[submodule "directory/nook-os"]
	path = directory/nook-os
	url = git@github.com:xopherdeep/nook-os.git
